$padding-inner:         10px;
$padding-inner-small:   5px;
$padding-control:       3px;
$header-height:         30px;
$month-size:            400px;
$month-height:          340px;
$month-footer-top:      8px;
$month-padding:         5px;
$month-year-width:      50px;
$day-size:              $month-size / 7;
$overview-size:         57px;
$day-bg:                #5a5a5a;
$day-bg-dark:           #3f3f3f;
$day-weekend:           #4c4c4c;
$day-bg-title:          #2f2f2f;
$debit:                 #9b0f15;
$credit:                green;
$search-match:          #826615;
$shadow-height:         15px;
$divider-height:        5px;
$details-height:        288px;